@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #060407be;
  --white: #ffffffd5;
  --primary: #f32fb5;
  --secondary: #c9d611;
  --background: #0e0712;
  --blur: #0e0712dc;
}

body {
  @apply bg-[var(--background)] text-[var(--white)] p-0 m-0 leading-6;
}

span {
  @apply text-[var(--primary)];
}

a {
  @apply hover:text-[var(--primary)] transition-all;
}

button {
  @apply transition-all;
}

.image {
  clip-path: polygon(
    0 0,
    90% 0,
    100% 10%,
    100% 100%,
    80% 100%,
    10% 100%,
    0 90%,
    0% 20%
  );
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
