@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply text-gray-200;
  @apply bg-zinc-900;
}

h1,
h2,
h3,
a {
  @apply text-pink-600;
}

a {
  @apply transition-all decoration-0;
}

span {
  @apply text-pink-600;
}