@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #060407be;
  --white: #ffffffd5;
  --primary: #d316b7;
  --background: #0e0712d9;
}

body {
  @apply bg-[var(--background)] text-[var(--white)] font-sans;
}

span {
  @apply text-[var(--primary)];
}

a {
  @apply hover:text-[var(--primary)] transition-all;
}

button {
  @apply transition-all;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
